.box {
  border: 1px solid var(--border-color);
  position: relative;
  transition: all 0.2s ease;
  box-sizing: border-box;
  min-width: 0; /* prevent content from overflowing container (see: https://stackoverflow.com/questions/36230944/prevent-flex-items-from-overflowing-a-container) */
}
.bg {
  background-color: var(--bg-color);
  background-clip: padding-box;
}

.bg .bg {
  backdrop-filter: none;
}

.borderless {
  border: 1px solid transparent;
}

.double:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 1px solid var(--border-color);
  pointer-events: none;
  transition: all 0.2s ease;
}

.rounded {
  border-radius: 5000px;
}
.rounded:before {
  border-radius: 5000px;
}
.roundedLeft {
  border-top-left-radius: 5000px;
  border-bottom-left-radius: 5000px;
}

.roundedLeft:before {
  border-top-left-radius: 5000px;
  border-bottom-left-radius: 5000px;
}

.roundedRight {
  border-top-right-radius: 5000px;
  border-bottom-right-radius: 5000px;
}

.roundedRight:before {
  border-top-right-radius: 5000px;
  border-bottom-right-radius: 5000px;
}

.p1 {
  padding: calc(var(--spacing-1) - 1px);
}
.p2 {
  padding: calc(var(--spacing-2) - 1px);
}
.p3 {
  padding: calc(var(--spacing-3) - 1px);
}
