.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  margin: 2rem auto;
}

.box {
  box-shadow: 0 0 0 1px #e2e2e2;
  padding: 24px 16px 16px;
  position: relative;
  flex: 1;
}
.box:nth-child(3),
.box:nth-child(4) {
  flex: 0 0 100%; /* flex-grow, flex-shrink, flex-basis */
}

.boxLabel {
  position: absolute;
  border: 1px solid #e2e2e2;
  font-size: 0.7rem;
  padding: 0 4px;
  top: -1px;
  left: -1px;
  border-bottom-right-radius: 3px;
}
.box:nth-child(2) .boxLabel {
  top: -1px;
  right: -1px;
  left: auto;
  border-bottom-left-radius: 3px;
}
