.button {
  display: flex;
  padding: var(--spacing-1);
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
}
.button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.danger {
  color: crimson;
}
