.errorMessage {
  /* border: 1px solid var(--error-color);
  background-color: rgba(255, 35, 35, 0.1); */
  background-color: #88242461;
  border: 1px solid #882424;
  color: var(--error-color);
}

.icon {
  font-size: 18px;
  flex-shrink: 0;
}

.content {
  flex: 1;
  min-width: 0;
}
