**/node_modules
**/build
**/.DS_Store
**/artifacts/
**/env/
**/.env
**/.history
**/coverage*
**/deployments
.devcontainer
packages/subgraph/generated
packages/app/contracts/abi/*.json
packages/app/src/contracts