.wrapper {
  display: flex;
}

.wrapper pre:not([data-theme]) {
  padding: 0;
}

.comments {
  flex-grow: 1;
}
.comment {
  position: absolute;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 0.7rem;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.invalid {
  text-decoration: 1px wavy red underline;
}

.highlight {
  background-color: hsl(
    var(--nextra-primary-hue) 100% 94% / var(--tw-bg-opacity)
  );
}
