.head {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.compValue {
  white-space: nowrap;
  color: var(--x-color-primary-800);
  font-size: 0.875rem;
}

.type {
  font-size: 0.7rem;
  padding: 0 4px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  align-self: center;
}
