.operation {
  flex-grow: 1;
}

.apiInfo {
  align-self: flex-end;
}

.permissions {
  margin: 0 calc(-1 * var(--spacing-3)) calc(-1 * var(--spacing-3));
  border-top: 1px solid var(--border-color) !important;
}

.arrayItem:not(:first-child) {
  margin-top: -1px;
}

.contact {
  font-size: 12px;
}

.underline {
  text-decoration: underline;
}
