.footer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex: 1 1;
  font-size: 10px;
  color: #5d6d74;
  gap: 1rem;
}

.divider {
  background-color: #b2b5b2;
  height: 1.25rem;
  width: 1px;
}

.footer a {
  transition: opacity 0.12s ease-in-out;
}
.footer a:hover {
  opacity: 0.7;
}

.logo {
  display: inline-block;
  margin-left: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 10px;
}
