.diff {
}

.hidden {
  visibility: hidden;
}

.identical {
  opacity: 0.8;
}

.added:not(.added .added) {
  background-color: #35774861;
  border: 2px solid #357748;
}

.removed:not(.removed .removed) {
  background-color: #ab1d1d61;
  border: 2px solid #ab1d1d;
}

.modified .modified {
  background-color: #2b477e61;
  border: 2px solid #2b477e;
}
