.functionName {
  display: inline-block;
}

.selector {
  font-family: var(--font-mono), monospace;
  font-size: 14px;
}
.selectorSmall {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
  background-color: var(--bg-color);
  width: fit-content;
  padding: 2px 5px;
  font-family: var(--font-mono), monospace;
  margin-right: var(--spacing-3);
}

.callsCount {
  height: 30px;
  font-family: var(--font-mono), monospace;
  display: flex;
  align-items: center;
}

.targetContent {
  padding: var(--spacing-2);
}

.functionContainer {
  padding: var(--spacing-2) var(--spacing-2) var(--spacing-2)
    calc(var(--spacing-3) + var(--spacing-2));
  position: relative;
}

.verticalGuide {
  position: absolute;
  top: var(--spacing-3);
  bottom: var(--spacing-2);
  left: var(--spacing-2);
  margin-left: -3px;
  width: 1px;
  background-color: var(--border-color);
  z-index: 10;
}

.verticalGuide::before,
.verticalGuide::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 1px;
  background-color: var(--border-color);
}

.verticalGuide::after {
  top: auto;
  bottom: 0px;
}

.wildcardContainer {
  padding: var(--spacing-2);
}

.paramLabel {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  background-color: var(--bg-color);
  width: fit-content;
  padding: 0px 5px;
  margin-left: -2px;
  display: block;
}

.anchor {
  margin: -10px;
}
