.table {
  width: 100%;
  max-height: calc(100vh - 100px);
}

.nestedIndices {
  color: silver;
  font-size: 0.8em;
}
.nestedValues {
}

.nestedIndices ol,
.nestedValues ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nestedIndices li,
.nestedValues li {
  overflow: hidden;
  text-overflow: ellipsis;
}
