.table {
  width: 100%;
  max-height: calc(100vh - 100px);
}

.nestedIndices {
  color: silver;
  font-size: 0.8em;
}
.nestedValues {
}

.nestedIndices ol,
.nestedValues ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nestedIndices li,
.nestedValues li {
  overflow: hidden;
  text-overflow: ellipsis;
}

.editable {
  display: flex;
}

button.iconButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
button.iconButton:hover {
  opacity: 1;
}

.columnScopingLabel {
  color: var(--ag-header-text-color);
  font-family: var(--ag-header-font-family);
  font-size: var(--ag-header-font-size);
  font-weight: normal;
}
