.ag-root {
  --ag-range-selection-border-color: transparent;
  --ag-cell-editing-border: 1px solid white;

  background-color: transparent;
  --ag-background-color: transparent;
  --ag-odd-row-background-color: transparent;
  --ag-header-background-color: rgb(36 38 31);
  --ag-row-hover-color: rgb(217 212 173 / 10%);
}
.ag-root-wrapper {
  background-color: #3b3a32;
}

/** override ag-grid header border so that the nesting hierarchy is more visible */

/** group header: make right border cover entire row height */
.ag-header-group-cell:where(
    :not(.ag-header-span-height.ag-header-group-cell-no-group)
  ):after {
  height: 100%;
  position: absolute;
  top: 0;
}

.ag-header-group-cell:where(
    :not(.ag-header-span-height.ag-header-group-cell-no-group)
  )
  .ag-header-cell-comp-wrapper {
  border-bottom: 1px solid color(srgb 1 1 1 / 0.15);
  padding-bottom: 3px;
  margin-bottom: -3px;
}

/** columns before a group column: make right border cover entire row height */
.ag-header-cell.ag-header-span-total:after {
  height: 100%;
  position: absolute;
  top: 0;
}

/** last child column header in group: make right border cover entire row height */
/** agx- is our prefix for custom ag-grid classes */
.ag-header-cell.agx-header-cell-last-child:after {
  height: 100%;
  position: absolute;
  top: 0;
}

/** group column headers: move the top border into the content wrapper so that the border is open to the parent in the padding area */
.ag-header-row:where(:not(:first-child)) {
  :where(
      .ag-header-cell:not(
          .ag-header-span-height.ag-header-span-total,
          .ag-header-parent-hidden
        ),
      .ag-header-group-cell.ag-header-group-cell-with-group
    ) {
    border-top: none;
  }
}

.agx-header-array-indices {
  color: silver;
  font-size: 0.8em;
}

.agx-header-nested-array-values {
}

:where(.ag-ltr) .ag-header-cell.agx-header-array-indices:after {
  border-right: none;
}

.agx-default-column-last,
.agx-inputs-column-last {
  border-right: 1px solid color(srgb 1 1 1 / 0.15) !important;
}

.agx-recorded-column,
.agx-label-column {
  font-family: var(--ag-header-font-family);
}
input.ag-input-field-input {
  font-family: var(--ag-header-font-family);
  font-size: var(--ag-data-font-size);
  padding: 0 6px;
  border: none;
  transition: none;
}

.ag-cell {
  line-height: 24px;
}
.ag-text-field-input-wrapper,
.ag-cell-edit-wrapper {
  min-height: 24px;
}

/** adjust header cell rendering for adding the scoping toggle at the bottom */
:where(.ag-header-cell:not(.ag-header-cell-auto-height))
  .ag-header-cell-comp-wrapper {
  padding-bottom: 32px; /** height of the scoping row **/
}

.ag-header-cell .agx-header-cell-wrapper {
  position: static;
}
.agx-header-cell-scoping {
  position: absolute;
  bottom: 0;
  height: 32px;
}

.ag-header-cell {
  overflow: visible; /** allow the scoping toggle in narrow indices columns to overflow into the next column */
}
.agx-header-array-indices {
  z-index: 2; /* ensure that the indices column is above the following columns so that its scoping toggle is clickable */
}

.agx-deleted-row .ag-cell {
  opacity: 0.5;
  text-decoration: line-through;
}
.agx-deleted-row .ag-cell.agx-actions-column {
  opacity: 1;
}
