.toggle {
  padding: var(--spacing-2);
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}

.body {
  background: rgba(0, 0, 0, 0.3);
  padding: var(--spacing-3);
  padding-top: var(--spacing-2);
}
.doubleBg {
  background-color: rgba(217, 212, 173, 0.2);
}

.toggle:hover {
  background: var(--bg-color);
}

.toggle.open .buttonIcon {
  transform: rotate(180deg);
}
