.functionName {
  display: inline-block;
}

.selector {
  font-family: var(--font-mono), monospace;
  font-size: 14px;
}

.params {
  --open-parantheses-width: 13px;
  margin-left: var(--open-parantheses-width);
}

.param {
  font-family: var(--font-mono), monospace;
  font-size: 10px;
  background: none;
  border: none;
  padding: 0;
}

.param:first-child::before {
  content: "( ";
}
.param:last-child::after {
  content: " )";
}
.param:not(:last-child)::after {
  content: ", ";
}

.param:first-child::before,
.param:last-child::after,
.param:not(:last-child)::after {
  font-family: var(--font-mono), monospace;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.param:first-child::before {
  position: absolute;
  margin-left: calc(var(--open-parantheses-width) * -1);
}

.targetHeader .targetBlockie {
  height: 18px;
  border: 0;
  padding: 0;
}

.functionCount {
  height: 30px;
  font-family: var(--font-mono), monospace;
  display: flex;
  align-items: center;
}

.targetAddress {
  height: 30px;
}

.targetContent {
  padding: var(--spacing-2);
}

.functionContainer {
  padding: var(--spacing-2) var(--spacing-2) var(--spacing-2)
    calc(var(--spacing-3) + var(--spacing-2));
  position: relative;
}

.verticalGuide {
  position: absolute;
  top: var(--spacing-3);
  bottom: var(--spacing-2);
  left: var(--spacing-2);
  margin-left: -3px;
  width: 1px;
  background-color: var(--border-color);
  z-index: 10;
}

.verticalGuide::before,
.verticalGuide::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 1px;
  background-color: var(--border-color);
}

.verticalGuide::after {
  top: auto;
  bottom: 0px;
}
.conditionEmpty {
  padding: var(--spacing-2);
  background: rgba(0, 0, 0, 0.3);
  font-family: var(--font-mono), monospace;
  font-size: 12px;
}

.wildcardContainer {
  padding: var(--spacing-2);
}
