.headWrap {
  display: flex;
  flex-direction: row;
  flex-gap: 4px;
  align-items: center;
}

.chevron {
  position: relative;
  top: 1px;
  width: 16px;
  cursor: pointer;
}
.chevron:disabled {
  cursor: default;
}
.chevron[aria-checked="true"] {
  transform: rotate(90deg);
  transition: transform 0.1s ease-in-out;
}

.head {
  cursor: default;
}
.head[aria-checked="true"] {
  background-color: var(--x-color-primary-100);
}

.children {
  list-style: none;
  margin-left: 1rem;
  display: none;
}
.children.expanded {
  display: block;
}
