.main {
  padding: var(--spacing-1);
}

.hash {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-family: var(--font-mono);
}

.header {
  margin-bottom: 24px;
}

.headerHash {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  font-family: var(--font-mono);
}
