.head {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.compValue {
  white-space: nowrap;
  color: hsl(var(--nextra-primary-hue) 100% 32% / var(--tw-text-opacity));
}

.type {
  font-size: 0.7rem;
  padding: 0 4px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
}
