.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  min-width: 640px;
  overflow: auto;
}

.topBar {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 16px;
}

.main {
  padding: 16px 32px 32px 32px;
  box-sizing: border-box;
}
.main.noScroll {
  height: calc(100vh - 102px);
}

.homeBreadcrumb {
  flex-direction: row;
  align-items: center;
}

.breadcrumb label {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  background-color: var(--bg-color);
  width: fit-content;
  padding: 0px 5px;
}

.breadcrumb {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--spacing-2);
  text-decoration: none;
  padding: 0;
  white-space: nowrap;
  background: none;
  border: none;
  padding: var(--spacing-2);
}

a.breadcrumb:hover {
  background-color: var(--bg-color);
  color: white;
}

.breadcrumb label {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  background-color: var(--bg-color);
  width: fit-content;
  padding: 0px 5px;
}

.appLogo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.appLogo img {
  margin-left: -1%;
}
